# Semana 05
     Steve gomez huamani

Temas

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5.Operadores

5.1 Operadores Aritméticos
#Se tiene: +,-,*,/,,%, **, //

In [8]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion= numero1*numero2
division=numero1/numero2
residuo=numero1 % numero2
potencia= numero1**numero2
cociente=numero1//numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [9]:
#5.2 Operadores de asignacion
# se tiene -,+=,-= , *= , /= , **=
numero = 5
numero = numero + 3
print(numero)

8

In [10]:
#la operacion anterior tambien se puede expresar de la siguiente manera:
numero =5
numero += 3
print(numero)

8

In [11]:
#ejemplo
numero=5
numero=numero**3
print(numero)

125

In [12]:
numero=5
numero **=3
print(numero)

125

In [13]:
#5.3 operadores de comparacion
#se tiene : ==, != ; > ,< ,<= ,>=

In [15]:
#ejemplo de igualdad ==
numero1 =5
numero2=2
numero1==numero2

False

In [16]:
#con las cadenas funciona igual
nombre1="Steve"
nombre2="Steve"
nombre1==nombre2

True

In [17]:
#5.4 operadores lógicos
 #se tiene : and, or ,not
numero1= 5
numero2= 6
numero3=7
numero4=8

In [18]:
numero1<numero2

True

In [20]:
 #el not invierte el resultado
not(numero1<numero2)

False

In [21]:
numero1<numero2 and numero3<numero4

True

In [22]:
#tambien puedes utilizar parentesis para ordenar tu operacion 
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [23]:
#ejemplo:
aula = ["juan","daniel","ruben"]
alumno1= "diego"
alumno2="juan"

In [24]:
#¿Diego esta en aula?
alumno1 in aula

False

In [25]:
# juan esta en aula?
alumno2 in aula

True

In [26]:
# Diego no esta en aula?
alumno1 not in aula

True

In [27]:
#juan no esta en aula
alumno2 not in aula

False

In [29]:
aula1 =["juan","daniel","ruben"]
aula2 =["juan","daniel","ruben"]

#a continuacion vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3=aula1

In [30]:
#aula3 comparte el mismo objeti oqeu aula 1?
aula3 is aula1

True

In [31]:
#aula3 comparte el mismo objeto que aula 2?
aula3 is aula2

False

In [32]:
#aula 2  comparte el mismo objeto que aula1?
aula2 is aula1

False

In [33]:
aula1.append("diego")

In [34]:
#al imprimir los elementos de la lista aula1 se observa 
print(aula1)

['juan', 'daniel', 'ruben', 'diego']

In [35]:
print(aula3)

['juan', 'daniel', 'ruben', 'diego']

In [36]:
print(aula2)

['juan', 'daniel', 'ruben']

In [37]:
aula3 =aula2
print(aula3)

['juan', 'daniel', 'ruben']

In [38]:
aula3.append("diego en 3")

In [39]:
aula2

['juan', 'daniel', 'ruben', 'diego en 3']

In [2]:
from PIL import Image
img=Image.open("compartir_objetos.jpg")
img.show()