# Semana 05
    Steve Edward Gomez Huamani

Temas:

1.Números
2. Variables
3.Manejo de Cadenas 
4. Ingreso de datos por teclado
5.Operadores

Manejo de Cadenas

In [2]:
cadena = 'Universidad Nacional Tecnologica de Lima Sur'
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tenologica de Lima Sur
#01234......                          -3-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
#Tambien considera espacios
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [10]:
cadena[21]

'T'

In [11]:
cadena[-23]

'T'

In [12]:
#Para mostrar una subcadena [desde ,hasta una antes]
#En java era substrin()
cadena[3:8]

'versi'

In [14]:
#para saber el tamaño de una cadena utilizamos len()
#Incluye espacios en blanco
len(cadena)

44

In [15]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [16]:
#Ojito ............SOLO LO MUESTRA, PORQUE EL ORIGINAL SIGUE SIENDO IGUAL

In [17]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [18]:
cadena=cadena.upper()

In [19]:
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [20]:
#para mostrar una cadena en minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [21]:
#para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [24]:
#para generar una lista utilizando un criterio de separacion a partir de una cadena split()
#En este caso vamos a generar una lista de toda la cadena , utilizando como criterio de separacion la letra 'A'
cadena.split('A')

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [35]:
#forma clasica de concatenar +
nombre = " Steve Gomez "
print("buenos dias"+nombre)

buenos dias Steve Gomez

In [36]:
#utilizando el .format()
nombre="Steve Gomez"
edad=12
print("hola {} ya se que tienes {} años".format(nombre,edad))

hola Steve Gomez ya se que tienes 12 años

In [30]:
#Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es {}".format(resultado))
print("10/3 es= {r:1.3f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es= 3.333

In [37]:
#dar formato con f
#la funcion f , esta disponible desde la version 3.6
nombre = "Steve Gomez"
edad = 10
print(f"buenos dias {nombre},ya se que tienes {edad} años")

buenos dias Steve Gomez,ya se que tienes 10 años

In [34]:
#dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333