# Semana 05
Steve Edward Gomez Huamani

Temas

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [1]:
#siempre deben iniciar con una letra o un guión abajo.(Nunca con un número u otro símbolo)

In [3]:
edad=41
edad

41

In [3]:
nombre="Steve"
nombre

'Steve'

In [4]:
apellido="Gomez Huamani"
apellido

'Gomez Huamani'

In [5]:
nombrecompleto = nombre + apellido
nombrecompleto

'SteveGomez Huamani'

In [7]:
nombrecompleto = nombre + " " + apellido

In [6]:
nombrecompleto

'SteveGomez Huamani'

In [9]:
#para saber el tipo de variable utilizamos la función type()
#por ejemplo:

In [10]:
numero = 50
type(numero)

int

In [11]:
type(nombre)

str

In [12]:
talla=1.68
talla

1.68

In [13]:
type(talla)

float

In [14]:
#para convertir un numero en cadena utilizamos la funcion str()
numero =100
cadena= str(numero)
cadena

'100'

In [15]:
type(cadena)

str

In [19]:
#Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [21]:
type(numero2)

int

In [1]:
#para convertir una cadena en decimal utilizamos float()
cadena2="50"
numero2=float(cadena2)
numero2

50.0

In [2]:
type(numero2)

float